.contentarea {
    flex: 1 1 auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 2px;
}

.content-row {
    flex-grow: 0;

    height: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 2px;
}

.letter-box {
    flex-grow: 0;

    width: 50px;
    font-size: 50px;
    padding: 7px;
    background-color: darkgray;
    border-radius: 0.5vh;
    color: black;
    text-align: center;
    font-weight: bold;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
